name: test

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - "**"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Update PATH
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install Poetry
        run: curl -sSL https://install.python-poetry.org/ | python -

      - name: Configure Poetry
        run: poetry config virtualenvs.in-project true

      - name: Install dependencies
        run: poetry install --with test

      - name: Run tests
        run: poetry run pytest --cov-report xml

      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          files: "./coverage.xml"
